<div class="section-title">
    <h3>{{localize "TYPES.Item.equipment"}}<span class="item-create clickable" data-type="equipment" data-weight="1">&nbsp;&nbsp;&nbsp;&nbsp; +</span></h3>
    <span class="right-slope olive"></span>
</div>

<div class="ac-grid">

    {{#each equipment as |item key|}}
    <div class="item equipment editable-item" data-item-id="{{item._id}}">
        <div class="row">
            <div class="cell f5 align-left align-center cell-name" style="gap:5px;">
                <img src="{{item.img}}" />
                <input type="number" class="num-short-2 quantity-count" style="height: 1.1rem;" value='{{item.system.quantity}}'>
                <span class="cell-expander cell-name">&nbsp;{{item.name}} ({{localize (concat 'AC2D20.TEMPLATES.SizeLevels.' (getSizeLabel item.system.weight))}})</span>
            </div>
            <!-- <div class="cell f1 controls align-center" style="display: flex; justify-content: space-between; border-right: none; ">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div> -->
        </div>
    </div>
    {{/each}}
</div>
