<div class="section-title">
	<h3>
		{{localize "AC2D20.TEMPLATES.Weapons"}}
		<span
			class="item-create clickable"
			data-type="weapon"
			data-weight="3"
		>
			&nbsp;&nbsp;&nbsp;&nbsp; +
		</span>
	</h3>
	<span class="right-slope olive"></span>
</div>

<div class="ac-grid" style="margin-bottom: 10px;">
	<div class="item">
		<div class="row">
			<div
				class="cell f4 green align-left"
				style="background-color: #494e31;"
			>
				<strong>
					{{localize "AC2D20.UI.Name"}}
				</strong>
			</div>

			<div class="cell f3 align-center">
				<strong>
					{{localize "AC2D20.TEMPLATES.Focus"}}
				</strong>
			</div>
			<div class="cell f2 align-center">
				<strong>
					{{localize "AC2D20.TEMPLATES.RANGE"}}
				</strong>
			</div>
			<div class="cell f2 align-center">
				<strong>
					{{localize "AC2D20.STRESS.stress"}}
				</strong>
			</div>
			<div class="cell f2 align-center">
				<strong>
					{{localize "AC2D20.TEMPLATES.Ammo"}}
				</strong>
			</div>
		</div>
	</div>
	{{#each weapons}}
		<div class="item weapon editable-item" data-item-id="{{this._id}}">
			<div class="row">
				<div class="cell f4 green cell-expander align-left align-center cell-name">
					<img src="{{this.img}}" />
					{{this.name}}
				</div>
				<div class="cell f3 roll-weapon clickable focus-name align-center">
					<i class="fas fa-dice-d20"></i>
					&nbsp;{{localize (concat 'AC2D20.FOCUS.' this.system.focus)}}
				</div>
				<div class="cell f2 align-center">
					{{localize (concat 'AC2D20.RANGE.' this.system.range)}}
				</div>
				<div class="cell f2 stress clickable roll-stress align-center">
					{{this.system.stress}}
					<span class="cth-ico-cth"></span>
					+
					{{getAttributeBonus ../actor this.system.weaponType}}
					<span class="cth-ico-cth"></span>
				</div>
				<div class="cell f2 align-center">
					<input
						type="number"
						class="ammo-quantity num-short-3"
						style="height: 1.1rem;"
						value="{{this.system.ammo}}"
					>
				</div>
			</div>
			<div class="row" style="border-top: 1px dashed #759549; padding: 0.3rem; font-size: 0.688rem;">
				{{> actor/_shared-partials/weapon-details-hint
					weapon=this
				}}
			</div>
		</div>
	{{/each}}
</div>
