<div class="grid grid-3col">
	<div>
		<div class="label-number-box">
			<label>{{localize 'AC2D20.TEMPLATES.scale'}}</label>
			<span>
				<input type="number" class="borderless num-short-2" name="system.scale" value="{{system.scale}}" data-dtype="Number" min="0" />
			</span>
		</div>
		<div class="label-number-box">
			<label>{{localize 'AC2D20.STRESS.stress'}}</label>
			<span>
				<input type="number" class="borderless num-short-2" name="system.stress.value" value="{{system.stress.value}}" data-dtype="Number" min="0" />
				<label>/</label>
				<input type="number" class="borderless num-short-2" name="system.stress.max" value="{{system.stress.max}}" data-dtype="Number" min="0" />
			</span>
		</div>
		<div class="label-number-box">
			<label>{{localize 'AC2D20.RESISTANCE.armor'}}</label>
			<input type="number" class="borderless num-short-2" name="system.armorResistance.value" value="{{system.armorResistance.value}}" data-dtype="Number" min="0" />
		</div>
	</div>
	<div>
		<div class="label-number-box">
			<span>
				<label class="roll-attribute clickable" data-attr='bra'>{{localize 'AC2D20.Ability.bra'}}</label>
				<input type="number" class="borderless num-short-2" name="system.attributes.bra.value" value="{{system.attributes.bra.value}}" data-dtype="Number" min="0" />
			</span>
			<span>
				<label>{{localize 'AC2D20.TEMPLATES.bonus'}}</label>
				<input type="number" class="borderless num-short-2" name="system.attributes.bra.bonus" value="{{system.attributes.bra.bonus}}" data-dtype="Number" min="0" />
			</span>
		</div>
		<div class="label-number-box">
			<label>{{localize 'AC2D20.TEMPLATES.INJURIES'}}</label>
			<span>
				<input type="number" class="borderless num-short-2" name="system.injuries.value" value="{{system.injuries.value}}" data-dtype="Number" min="0" />
				<label>/</label>
				<input type="number" class="borderless num-short-2" name="system.injuries.count" value="{{system.injuries.count}}" data-dtype="Number" min="0" />
			</span>
		</div>
		<div class="label-number-box">
			<label>{{localize 'AC2D20.TEMPLATES.speed'}}</label>
			<input type="number" class="borderless num-short-2" name="system.speed" value="{{system.speed}}" data-dtype="Number" min="0" />
		</div>
	</div>
	<div style="display: flex; flex-direction: column;">
		<div class="section-title">
			<h3 class="blue">
				{{localize "AC2D20.TEMPLATES.Truths"}}
				<span class="truth-create clickable">&nbsp;&nbsp;&nbsp;&nbsp; +</span>
			</h3>
			<span class="right-slope olive"></span>
		</div>

		<div class="textbox vehicle-truths">
			{{#each system.truths}}
				<p class="truth-edit" data-truth-index="{{@index}}">
					{{this}}
				</p>
			{{/each}}
		</div>
	</div>
</div>


<div class="grid grid-3col">
	<div>
		<span class="flexrow" style="align-items: center; padding: 0.313rem; border: 1px solid #759549;">
			<label for="">{{localize "ACTOR.Vehicle.Passengers"}}: </label>
			<input type="text" name="system.passengers.value" value='{{system.passengers.value}}' class="underline" style="text-align: center;">
		</span>
	</div>
	<div>
		<span class="flexrow" style="align-items: center; padding: 0.313rem; border: 1px solid #759549;">
			<label for="">{{localize "ACTOR.Vehicle.Cover"}}: </label>
			<input type="text" name="system.cover.value" value='{{system.cover.value}}' class="underline" style="text-align: center;">
		</span>
	</div>
	<div>
		<span class="flexrow" style="align-items: center; padding: 0.313rem; border: 1px solid #759549;">
			<label for="" class="roll-impact clickable"><strong>{{localize "ACTOR.Vehicle.Impact"}}: <span class="cth-ico-cth"></span></strong></label>
			<input type="number" name="system.impact" value='{{system.impact}}' class="underline" style="text-align: center;" data-dtype="number">
		</span>
	</div>
</div>


<div class="grid" style="gap: 1.25rem; margin-bottom: 1.25rem;">
	<div>
		<div class="section-title">
			<h3 class="">{{localize "AC2D20.WEAPONS.qualities"}}</h3>
			<span class="right-slope olive"></span>
		</div>
		<div class="items-list" style="border: 1px solid #759549;">
			{{#each vehicleQualities}}
				<div
					{{#if this.active}}
						class="flexrow toggle-label active"
					{{else}}
						class="flexrow toggle-label"
					{{/if}}
				>
					<label
						data-tooltip="{{fromConfig "VEHICLE_QUALITY_TOOLTIPS" this.key}}"
						data-tooltip-direction="LEFT"
					>
						<input
							name="system.qualities.{{this.key}}.value"
							type="checkbox"
							{{#if this.active}}
								checked
							{{/if}}
						>
						{{this.label}}
					</label>
					{{#if this.hasRank}}
						<input
							class="num-short-2"
							name="system.qualities.{{this.key}}.rank"
							style="height: 1.1rem;"
							type="number"
							value="{{this.rank}}"
						>
					{{/if}}
				</div>
			{{/each}}
		</div>
	</div>
	<div>
		<div class="section-title">
			<h3>
				{{localize "AC2D20.TEMPLATES.Weapons"}}
				<span
					class="item-create clickable"
					data-type="weapon"
					data-weight="3"
				>
					&nbsp;&nbsp;&nbsp;&nbsp; +
				</span>
			</h3>
			<span class="right-slope olive"></span>
		</div>
		<ul class="items-list-npc">
			{{#each weapons}}
				<li class="item editable-item" data-item-id="{{this._id}}">
					<span class="main-row">
						<label class="item-name clickable roll-weapon">
							{{this.name}}
						</label>
						<label class="item-name clickable roll-stress">
							{{this.system.stress}}
							<span class="cth-ico-cth"></span>
						</label>
					</span>
					<div class="skill-focuses">
						<span class="skill-focus focus-name" data-item-id="{{this._id}}">
							<strong>
								{{localize (concat 'AC2D20.FOCUS.' this.system.focus)}}
							</strong>
							|&nbsp;
						</span>
						{{> actor/_shared-partials/weapon-details-hint
							weapon=this
						}}
				</li>
			{{/each}}
		</ul>
	</div>
</div>
