<div class="ac2d20 momentum-tracker">
	{{#if showGMMomentum}}
		<div class="ap-resource gm" data-type="gmMomentum">
			<div class="flexcol">
				<h4>
					{{localize "AC2D20.TEMPLATES.GM_MOMENTUM"}}
				</h4>
			</div>
			<div class="flexrow align-mid">
				{{#if game.user.isGM}}
					<a class="ap-btn ap-sub">
						<i class="fa-solid fa-minus"></i>
					</a>
				{{else}}
					<a class="ap-btn">
						<i class="fa-solid fa-minus"></i>
					</a>
				{{/if}}

				<input
					class="ap-input num-short-3"
					type="number"
					value={{gmMomentum}}
					{{#unless isGM}}
						disabled
					{{/unless}}
				>

				{{#if isGM}}
					<a class="ap-btn ap-add">
						<i class="fa-solid fa-plus"></i>
					</a>
				{{else}}
					<a class="ap-btn">
						<i class="fa-solid fa-plus"></i>
					</a>
				{{/if}}
			</div>
		</div>
	{{/if}}

	{{#if showMaxApp}}
		<div class="ap-resource maxMomentum-box" data-type="maxMomentum">
			<div class="flexcol">
				<h4>
					{{localize "AC2D20.TEMPLATES.MAX_PARTY_MOMENTUM"}}
				</h4>
			</div>
			<div class="flexrow align-mid">
				<a class="ap-btn ap-sub">
					<i class="fa-solid fa-minus"></i>
				</a>

				<input
					class="ap-input num-short-3"
					type="number"
					value="{{maxMomentum}}"
				>

				<a class="ap-btn ap-add">
					<i class="fa-solid fa-plus"></i>
				</a>
			</div>
		</div>
	{{/if}}

	<div class="ap-resource party" data-type="partyMomentum">
		{{#if showMaxApp}}
			<a class='toggle-maxAp'>
				<i class="fas fa-cog"></i>
			</a>
		{{/if}}

		<div class="flexcol">
			<h4>
				{{localize "AC2D20.TEMPLATES.PARTY_MOMENTUM"}}
			</h4>
		</div>

		<div class="flexrow align-mid">
			<a class="ap-btn ap-sub">
				<i class="fa-solid fa-minus"></i>
			</a>

			<input
				class="ap-input num-short-3"
				type="number"
				value="{{partyMomentum}}"
			>

			<a class="ap-btn ap-add">
				<i class="fa-solid fa-plus"></i>
			</a>
		</div>
	</div>

</div>
