<div class="ac2d20-chat-message" data-item-id="{{itemId}}">
	<div class="content">
		<h2>
			{{rollName}}
		</h2>
		<p class="success-plaq">
			{{localize "AC2D20.TEMPLATES.Successes"}}:
			{{successes}}
			<span class="TN">
				({{localize "AC2D20.TEMPLATES.TN"}} {{successThreshold}})
			</span>
		</p>
		{{#ifCond complications '>' 0}}
			<p class="complication-plaq">
				{{localize "AC2D20.TEMPLATES.Complications"}}:
				{{complications}}
			</p>
		{{/ifCond}}
		<div class="dices-result">
			{{#each results as |dice|}}
				<span
					class="dice-icon d20{{#if reroll}} reroll{{/if}}{{#ifCond complication '===' 1}} complication{{/ifCond}}{{#ifCond success '===' 1}} success{{/ifCond}}{{#ifCond success '===' 2}} crit{{/ifCond}}"
					data-index="{{@index}}"
				>
					{{dice.result}}
				</span>
			{{/each}}
		</div>
		<div class="grid-1-columns">
			<button class="reroll-button">
				{{localize "AC2D20.TEMPLATES.Re_roll"}}
			</button>
		</div>
	</div>
</div>
