<form class="{{cssClass}} flexcol" autocomplete="off">

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs" data-group="primary">
		<img src="systems/ac2d20/assets/main-menu-slope.webp">
		<div class="buttons">
			<a class="item" data-tab="attributes">{{localize "AC2D20.TEMPLATES.Attributes"}}</a>
			<a class="item" data-tab="description">{{localize "AC2D20.TEMPLATES.Description"}}</a>
		</div>
	</nav>

	{{> item/parts/item-header }}

	{{!-- Sheet Body --}}
	<section class="sheet-body">

		{{!-- Description Tab --}}
		<div class="tab description" data-group="primary" data-tab="description">
			{{editor descriptionHTML target="system.description" rollData=rollData button=true owner=owner editable=editable}}
		</div>

		{{!-- Attributes Tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">

			<div class="resource-row flexrow bgEven resource">
				<label class="resource-label" for="system.weaponType"><strong>{{localize "AC2D20.WEAPONS.type"}}</strong></label>
				<select name="system.weaponType">
					{{#select system.weaponType}}
					{{#each AC2D20.WEAPONS.weaponTypes as |weaponType key| }}
					<option value="{{weaponType.bonusAttribute}}">{{localize (concat 'AC2D20.WEAPONS.weaponTypes.' weaponType.label)}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>

			<div class="flexrow resource-row bgOdd resource">
				<label class="resource-label"><strong>{{localize "AC2D20.TEMPLATES.Skill"}}</strong></label>
				<select name="system.skill">
					{{#select system.skill}}
						<option value="">&nbsp;</option>
						{{#each AC2D20.SKILLS as |skill key|}}
							<option value="{{skill.key}}">
								{{localize skill.label}}
							</option>
						{{/each}}
					{{/select}}
				</select>
			</div>

			<div class="flexrow resource-row bgOdd resource">
				<label class="resource-label"><strong>{{localize "AC2D20.TEMPLATES.Focus"}}</strong></label>
				<select name="system.focus">
					{{#select system.focus}}
						<option value="">&nbsp;</option>
						{{#each (getSkillFocusList system.skill) as |focusName key|}}
							<option value="{{key}}">{{focusName}}</option>
						{{/each}}
					{{/select}}
				</select>
			</div>

			<div class="resource-row flexrow bgEven resource">
				<label class="resource-label" for="system.range"><strong>{{localize "AC2D20.TEMPLATES.RANGE"}}</strong></label>
				<select name="system.range">
					{{#select system.range}}
					{{#each AC2D20.WEAPONS.range as |range key|}}
					<option value="{{key}}">{{localize range }}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>

			<div class="resource-row flexrow bgOdd resource">
				<label class="resource-label" for="system.stress"><strong>{{localize "AC2D20.STRESS.stress"}}</strong></label>
				<input type="number" name="system.stress" value="{{system.stress}}">
			</div>

			<div class="resource-row flexrow bgEven resource">
				<label class="resource-label" for="system.ammo"><strong>{{localize "AC2D20.TEMPLATES.Ammo"}}</strong></label>
				<input type="number" name="system.ammo" value="{{system.ammo}}">
			</div>

			<div class="resource-row flexrow bgOdd resource">
				<label class="resource-label" for="system.salvo"><strong>{{localize "AC2D20.TEMPLATES.Salvo"}}</strong></label>
				<input type="text" name="system.salvo" value="{{system.salvo}}">
			</div>

			<div class="grid-2-columns">
				<div class="resource-row">
					<div class="section-title">
						<h3>{{localize "AC2D20.TEMPLATES.Weapon_Qualities"}}</h3>
						<span class="right-slope olive"></span>
					</div>
					<div class="items-list" style="border: 1px solid #759549;">
						{{#each weaponQualities}}
							<div
								{{#if this.active}}
									class="flexrow toggle-label active"
								{{else}}
									class="flexrow toggle-label"
								{{/if}}
								data-tooltip="{{fromConfig "WEAPON_QUALITY_TOOLTIPS" this.key}}"
								data-tooltip-direction="RIGHT"
							>
								<label style="align-self: center;">
									<input
										type="checkbox"
										name="system.qualities.{{key}}.value"
										{{#if this.active}}
											checked
										{{/if}}
									>
									{{this.label}}
								</label>
							</div>
						{{/each}}
					</div>
				</div>
				<div class="resource-row">
					<div class="section-title">
						<h3>{{localize "AC2D20.TEMPLATES.DAMAGE_EFFECTS"}}</h3>
						<span class="right-slope olive"></span>
					</div>
					<div class="items-list" style="border: 1px solid #759549;">

						{{#each damageEffects}}
							<div
								{{#if this.active}}
									class="flexrow toggle-label active"
								{{else}}
									class="flexrow toggle-label"
								{{/if}}
							>
								<label
									data-tooltip="{{fromConfig "DAMAGE_EFFECT_TOOLTIPS" this.key}}"
									data-tooltip-direction="LEFT"
								>
									<input
										name="system.effect.{{this.key}}.value"
										type="checkbox"
										{{#if this.active}}
											checked
										{{/if}}
									>
									{{this.label}}
								</label>
								{{#if this.hasRank}}
									<input
										class="num-short-2"
										name="system.effect.{{this.key}}.rank"
										style="height: 1.1rem;"
										type="number"
										value="{{this.rank}}"
									>
								{{/if}}
							</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</section>
</form>
